[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group github/openbmc/meta-evb-maintainers
	push = +force group github/openbmc/meta-evb-maintainers
	abandon = group github/openbmc/meta-evb-maintainers
	forgeCommitter = group github/openbmc/meta-evb-maintainers
	label-Code-Review = -2..+2 group github/openbmc/meta-evb-maintainers
	label-Ok-To-Test = +0..+1 group github/openbmc/meta-evb-maintainers
	label-Verified = -1..+1 group github/openbmc/meta-evb-maintainers
	rebase = group github/openbmc/meta-evb-maintainers
	submit = group github/openbmc/meta-evb-maintainers
	editTopicName = group github/openbmc/meta-evb-maintainers
[access "refs/tags/*"]
	push = +force group github/openbmc/meta-evb-maintainers
	createTag = group github/openbmc/meta-evb-maintainers
	createSignedTag = group github/openbmc/meta-evb-maintainers
[submit]
	action = rebase if necessary
